services:
  # -----------------------------------------------------------
  # SERVICIO 1: LA APLICACIÓN (BACKEND)
  # -----------------------------------------------------------
  app-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-supermercado
    ports:
      - "8080:8080"
    environment:
      # Configuración de conexión a la base de datos
      DB_URL: jdbc:postgresql://db-supermercado:5432/superMercadoDB
      DB_USERNAME: superMercado
      DB_PASSWORD: superMercado123
      DB_PLATFORM: org.hibernate.dialect.PostgreSQLDialect
    restart: always
    depends_on:
      db-supermercado:
        condition: service_healthy
    networks:
      - supermercado-network

  # -----------------------------------------------------------
  # SERVICIO 2: LA BASE DE DATOS (POSTGRESQL)
  # -----------------------------------------------------------
  db-supermercado:
    image: postgres:16
    container_name: db-supermercado
    ports:
      - "5435:5432"
    environment:
      POSTGRES_DB: superMercadoDB
      POSTGRES_USER: superMercado
      POSTGRES_PASSWORD: superMercado123
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U superMercado -d superMercadoDB"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - supermercado-network

volumes:
  postgres_data:
    driver: local

networks:
  supermercado-network:
    driver: bridge
