version: '3.8'

services:
  postgres:
    image: 'postgres:16-alpine'
    container_name: postgres_supermercado_db
    environment:
      - 'POSTGRES_DB=superMercadoDB'
      - 'POSTGRES_USER=superMercado'
      - 'POSTGRES_PASSWORD=superMercado123'
    ports:
      - '5435:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - supermercado-network

volumes:
  postgres_data:
    driver: local

networks:
  supermercado-network:
    driver: bridge
